<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
     
      <add name="HelpSystems.Task.Forum.Repository.Properties.Settings.ForumDbConnectionString"
          connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DataAccess\ForumDb.mdf;Integrated Security=True"
          providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>